<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/createList.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="/js/createTodoDropdown.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <a class="navbar-brand">Creating <%= title %> for <%= firstName + ' ' + lastName %></a>
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <form class="form-inline my-2 my-lg-0" action="/" method="get">
                <button class="btnHome">Home</button>
              </form>
            </li>
          </ul>
              <button  class="addTodo" type="submit" id="addTodo">
                <span>&#43;</span>
              </button>
          <form class="form-inline my-2 my-lg-0" action="/Logout" method="post">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Log out</button>
          </form>
        </div>
      </nav>
      </div>
      <form id="Submt" action="/SubmitList" method="post" >
        <button class="crtTd" id="SubmitBtn">
            <span>&#x2713;</span>
        </button>
    </form>
      <form action="/addTask" method="post">
        <div id="todoForm" class="todoForm">
          <div class="form-content">
            <span class="close">&times;</span>
            <div class="input-row">
              <textarea id="myTextarea" placeholder="Task name" class="txt" name="taskName"></textarea>
            </div>
            <div class="input-row">
              <textarea id="myTxtarea" placeholder="Task description" class="txt" name="taskDescription"></textarea>
            </div>
            <div class="input-row">
                <button class="TaskSubmit" type="submit">Confirm</button>
            </div>
          </div>
        </div>
      </form>
      <% if(tasks.length == 0) {%>
        <h1 class="tasksTxt">You don't have any Tasks</h1>
        <% } else {%>
          <ul id="taskList">
            <% for(let i = 0; i < tasks.length; i++) { %>
              <form action="/RemoveTask" method="post">
                <li class="element">
                  <div class="li-row">
                    <span>
                      <input type="checkbox" class="checkbox" <%= tasks[i].checked ? 'checked' : '' %> >
                      <span class="Title-text" name="taskTitle"><%= tasks[i].title%></span>
                    </span>
                    <input type="hidden" class="secretIndex" name="index" value="<%= i %>">
                    <button class="Button updBtn" type="button">
                      <i class="fas fa-pen"></i>
                    </button>
                    <button class="ButtonDel" type="submit">
                      <i class='fa-solid fa-trash-can'></i>
                    </button>
                  </div>
                  <div class="li-row">
                    <span>
                      <span class="Description-text" name="taskDescription"><%=  tasks[i].description%></span>
                    </span>
                  </form>
                    <form action="/updateTask" method="post">
                      <div class="updateForm">
                        <div class="form-content">
                          <span class="closeUpdate">&times;</span>
                          <div class="input-row">
                            <textarea id="myTxtAr"  class="txt" name="taskName"><%= tasks[i].title %></textarea>
                          </div>
                          <div class="input-row">
                            <textarea id="myTxt" class="txt" name="taskDescription"><%= tasks[i].description %></textarea>
                          </div>
                          <div class="input-row">
                            <button class="TaskSubmit" type="submit">Confirm</button>
                            <input type="hidden" class="secretIndex" name="index" value="<%= i %>">
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </li>
            <% } %>
          </ul>
          
                    <% }%>
</body>
</html> 